@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
	font-family: 'Fontelogo';
	src: url("../_fonts/computer-font.ttf");
}

body {
	font-family: Arial,sans-serif;
	background-color: #dddddd;
	color: rgba(0, 0, 0, 1.0);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:2fr auto 2fr;
    grid-gap: 2%;
    grid-template-areas:
    "h h h h h h h"
    "s s s s a a a"
	"f f f f f f f";


}

div#interface {
    width: 98%;
    height: 100%;
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	margin: -1% 0 0 0;
	padding: 1%;
}

p{
	text-align: justify;
	text-indent: 50px;
}

a{
	color: #606060;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header#cabecalho img#icone{
	position: sticky;
	float: right;
	margin: 1%;
}

header#cabecalho {
	height: 80px;
    grid-area: h;
}


/* Formatação de imagens com legendas*/

figure.foto-legenda {
	position: relative; /* usar o valor relative, 
	significa que ele via ficar 
	posicionado no lugar onde ele 
	foi colocado no codigo html*/
	border: 8px solid white;
	box-shadow: 1px 1px 4px black; /*ordem de valores:
	horizontal, vertical,espalhamento e cor*/
}
figure.foto-legenda img {
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption{
	opacity: 0;
	position: absolute; /* absolute, fica no absoluto em
	relação ao lugar onde a figurecaption esta
	a classe pai*/
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	color: white;
	padding: 10px; /*espaçamento entre as bordas*/
	box-sizing: border-box; /* um box dentro da borda */
	transition:1s;
}

figure.foto-legenda:hover figcaption {
	opacity: 1;
}
/* Formatação do menu */

.checkbtn{
	font-size: 2rem;
	color: white;
	cursor:pointer;
	padding: 15px;
	margin: auto;
	display: none;
}
#check{
	display: none;
}

label.logo{
	font-family: 'Titillium Web', sans-serif;
	font-size: 2rem;
 	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	font-weight: bold;
	padding-left: 1%;
}

nav {
	display: block;
	background-color:#cecece;
	height: 80px;
	width: 100%;
	box-sizing: border-box;
	padding:10px;
	margin-top:-1%;

}


nav ul{
	float: right;
	list-style: none;
	text-transform: uppercase;
	display: block;
	padding: 0;
	margin-top:1%;

}

nav li{
	display: inline-block;
	transition: background-color 0.55s;
	padding: 10px;
	
}

nav li:hover, li.active {
	background-color:rgba(0, 0, 0, 0.116);
	transition: 0.55s;
}


nav h1{
	display: none;
}

nav a{
	color: black;
	text-decoration: none;

}

nav a:hover, a.active{
	color: white;
	text-decoration: none;
}


section#corpo {
	display: flex;
	width: 100%;
    grid-area: s;
}

article#noticia-principal h2{
	font-size:13pt ;
	background-color: #dddddd;
	color: #606060;
	padding: 5px 0px 5px 15px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family: 'Titillium Web',sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0;
}

.direita{
	text-align: right;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
	margin: 0px;
}

header#cabecalho-artigo h3{
	color: #606060;
	font-size:10pt ;
	
}
table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td{
	border: 1px solid #606060;
	padding: 10px;
	text-align:center;
	vertical-align: middle;
}

table#tabelaspec td.ce{
	text-align: right;
	color: white;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd{
	text-align: left;
	background-color: #cecece;
}

table#tabelaspec caption {
	color: #808080;
	font-size: 13pt;
	font-weight: bolder;
}

table#tabelaspec caption span{
	display: block;
	float: right;
	color: black;
	font-size: 8pt;
	margin-top: 10px;

}

aside#lateral {
	display:block;
	width: auto;
	background-color: #dddddd;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    padding:10px;
    grid-area: a; 
}

aside#lateral h1{
	font-family: 'Titillium Web',sans-serif;
	font-size: 20pt;
	color: #606060;
	padding: 4px;
	margin-top: 0;
}

aside#lateral h2{
	background-color:  #606060;
	font-size: 13pt;
	color:#ffffff;
	padding: 5px;
}

footer#rodape {
	height: 150px;
	clear: both; /* o clear both limpa o espaço */
    border-top: 1px solid #606060;
    grid-area:f;
    

}
footer#rodape p{
	text-align: center;
}

footer#rodape a{
	color: #606060;
}

@media only screen and (max-width: 845px ){
	.checkbtn{
		display:inline-flex;
	}
	label.logo{
		float:right;
		display: inline-flex;
	}
	nav ul{
		position:fixed;
		display: block;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.4);
		left:-110%;
		text-align: center;
		z-index: 10;
		transition: all .5s;
	}
	
	nav ul li{
		display: block;
		padding:2rem 0 2rem 0;
	}
	nav ul li a{
		font-size:2rem;
	}

	a:hover, a.active{
		background-color:none;
	}

	#check:checked ~ ul{
		left:0;
	}

	img#icone{
		display: none;
	}

    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  2fr auto auto auto auto auto auto auto 2fr;
        grid-template-areas: 
        "h"
        "s"
        "a"
        "f";
    }
    #interface{
		height: 100%;
		width: 100%;
    }
    header#cabecalho {
            grid-area:h;
    }
    section#corpo {
        grid-area:s;
    }

    aside#lateral{
        grid-area:a;
    }

}